* {
	box-sizing: border-box;
	margin: 0;padding: 0;
	font-size: inherit;
}
body {
	height: 100%vh;
	font-size: 16px;
	font-family: sans-serif;
	background-repeat: no-repeat;
	background-size: cover 100%;
	background-image: url(../images/body-bg.jpg);
}
.main {
	width: 80%;height: 100vh;
	padding: 0 20px 0 20px;
	position: relative;
	margin: 20px auto;
}
header {
	width: 100%;
	height: 25%;
	position: relative;
}
header h1, header h2 {
	color:white;
}
header h1 {
	font-size: 1.5em;
}
header h2 {
	font-size: 0.8em;
	font-weight: normal;
	font-style: italic;
	font-family: sans;
}
header h3 {
	width: 100%;
	margin-top: 20px;
	font-size: 0.8em;
	padding: 7px 10px;
	background-image: linear-gradient(to right, gray, darkgray);
	border-radius: 4px;
}
header a {
	text-decoration-line: none;
	margin:0 15px;
	color: white;
}
input {
	display: inline-block;
	width: 100px;
	background-color: white;
	color: gray;
	border-radius: 4px;
	font-size: 0.8em;
	padding: 3px 7px;
	border:none;
}

header form {
	position: absolute;
	top: 69px;right: 5px;
}
.main .content {
	display: flex;
	width: 100%; height: 350px;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: flex-start;
	font-size: 16px;
	margin-top: 10px;
}
.content h1, .content h2 {
	color:black;
	display: block;
}
.content h1 {
	font-size: 1.5em;
}
.content h2 {
	font-size: 0.8em;
	padding: 0 0 3px 0;
	}
.content .grt {
	color:gray;
}
.content .blt {
	color:rgb(119,175,227);
}
.just, .sidebar, .flickr {
	background-color: white;
	display: flex;
	border-radius: 7px;
	position: relative;
	border: 1px solid gray;
}
.just {
	width: 65%; height: 350px;
	padding: 15px;
	font-size: 0.9em;
	display: block;
}
.just p {
	padding: 4px 0;
	font-size: 0.8em;
}
.just img {
	max-width: 100%;
}
.sidebar, .flickr {
	width: 33%;
	padding: 15px;
	flex-direction: column;
}
.sidebar {
	height: 110px;
}
.flickr {
	margin-top: 15px;
	height: 215px;
}

.sidebar p {
	border-top: 1px solid gray;
	font-size: 0.7em;
	padding: 3px;
}
footer {
	color:white;
	font-size: 0.6em;
	padding: 10px 5px;
	display: flex;
	position: absolute;
	bottom: 0;
}
.flickr .imgbox {
	width: 100%;height: 100%;
	/*max-width:320px;*/
	display: flex;
	justify-content:flex-start;
	flex-wrap: wrap;
	align-items: center;
}
.flickr .imgbox img {
	width: 20%;
	max-width:70px;
	margin: 0 10px 10px 0;
}